# Ignore node_modules directory
node_modules/

# Ignore build directory
build/

# Ignore .git directory
.git/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore environment variables file
.env
.env.local
