aiohttp
beautifulsoup4
black
deep_translator
fastapi
flake8
google
google.genai
httpx
isort
jwt
kafka-python
langdetect
loguru
lxml
motor
passlib
playwright
pydantic
pymongo
pytest
pytest-cov
pytest-asyncio
pytest-mock
python-dotenv
pydantic[email]
pydantic-settings
requests
uvicorn
